<html>
    <head>
        <title>taka's blog</title>   
    </head>
    <body>
        <div>
            <h1><a href="/">taka's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h6><a href="">My first post</a></h6>
            <p>Hello! Nice to meet you!</p>
        </div>

        <div>
            <p>公開日：2014/06/14, 12:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>Hello! Nice to meet you!</p>
        </div>
    </body>
</html>